# OS
.DS_Store
Thumbs.db

# IDE
.vs/
.vscode/
*.sln
*.csproj
*.user
*.tmp

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
ArtifactDB/

# Firebase native libs
Assets/Firebase/Plugins/x86_64/
Assets/Firebase/Plugins/arm64/
